body {
    margin: 0;
    padding: 0;
}
.door {
    position: absolute;
    top: 0;
    left: 0;
}
.puerta-abierta {
    position: absolute;
}
.puerta-cerrada {
    position: relative;
}
.puerta-abierta img {
    width: 100px;
    visibility: visible;
    left: 0;
}
.puerta-cerrada img {
    width: 100px;
    visibility: visible;
    left: 30px;
}
.heart-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}
.empty-heart-container {
    position: relative;
}
.full-heart-container {
    position: absolute;
    top: 1em;
}
.empty-heart-container img {
    width: 100px;
    visibility: visible;
}
.full-heart-container img {
    width: 100px;
    visibility: visible;
}
.gameover{
    position: absolute;
    visibility: hidden;
}
.gameover img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}.you-win {
    position: absolute;
    visibility: hidden;
}
.you-win img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}
.start img {
    width: 100%;
    display: block;
    z-index: 2;
}
button{
    position: absolute;
    top: 0;
    margin-bottom: 400px;
    z-index: 2;
    margin-left: 50%;
    margin-top: 20%;
    padding: 30px 60px;
    border-radius: 12px;
    background-color: rgb(174, 126, 2);


}
.displayNone {
    display: none;
}
.displayBlock{
    display: block;
}